* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

#linkList li {
    display: block; 
}

#errorMessage {
    color: red; 
    display: none; 
    text-align: center;
    font-size: 4em;
}

img {
    width: 300px;
    height: 300px;
}

.search-container {
    text-align: center;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}
